{% extends 'pollvote/base.html' %}


{%block content%}
<div class="container">
<div class="row">

<h2>Login To Poll Your Vote</h2>
<form action="" method="POST">
    {%csrf_token%}
<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="passsword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="******">
  </div>

   
  <div class="mb-3">
    <input type="submit" class="btn btn-primary btn-sm" value="Login">
  </div>

</form>
<div>
    {% if messages %}

     
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
  

    {% endif %}
  </div>


    
</div>
</div> 

{%endblock%}